.air_block{
    display: flex;
    flex-direction: column;
    .control_block{
        margin-right: auto;
        
    }
}
.table_block{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4% auto 0;
    th,td{
        text-align: center;
        font-weight: 500;
    }

}  
input, select {
    background: #fff;
    padding: 2% 4%;
    /* закруглим края у поля ввода */
    border-radius: 4px;
    border: 1.2px solid var(--ColorDisabled);
    width: 100%;
    min-width: 3vw;
    min-height: 3.2vh;
    transition: border .2s ease;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    &:focus{
        border: 1.2px solid var(--colorBlue);
        outline: none;
        text-decoration: none;
    
    }
  }