button{
    background: var(--bgColorNavbar);
    border-radius: 6px;
    text-transform: uppercase;
    color: white;
    width: 100%;
    padding: 5px;
    margin-top: 6%;
    outline: none;
    border: none;
    box-shadow: 1px 1px 4px grey;
    letter-spacing: 1px;
    &:hover{
        background: var(--bgColorHoverBlueButton);
    }
    &:disabled{
        background: var(--bgColorDisabled);
        color: var(--ColorDisabled)
    }
}