.sidebar_block {
    border-right: 1px solid var(--colorBorder);
    padding-top: 6%;
    position: relative;
    top: 0;
    box-sizing: border-box;
    white-space: wrap;
    height: 90vh; /* Занимает 100% высоты экрана */
    overflow-y: hidden;
    display: grid;
    grid-template-rows: 1fr auto;
    flex: 0 0 auto;
    // overflow-y: auto; /* Добавьте полосу прокрутки, если контент не помещается */

    ul {
        list-style-type: none;
        width: 100%;
        margin: 0;
        padding: 0;

        li {
            width: 100%;
            height: 4vh;
            padding-left: 10%;
            display: flex;
            align-items: center;

            &:hover {
                background: var(--colorHoverList);
            }
        }
    }

    .activeItem {
        background: var(--colorActiveItemList);
        &:hover {
            background: var(--colorActiveItemList) !important;
        }
    }
}

.sidebar_block__news{
    height: 35vh;
    position: relative;
    border-top: 1px solid var(--colorBorder);
    ul{
        li{
            font-weight: bold;
        }
    }
}
.mobile_settings{
    display: none;
}


@media screen and (max-width: 950px) {
    .mobile_settings{
        display: block;
        &:hover {
            background:none;
        }

    }
    ul:not(.mobile_settings){
        display: none;
    }
}

