.sidebar_block {
    border-right: 1px solid var(--colorBorder);
    position: relative;
    margin-top: 6%;
    box-sizing: border-box;
    white-space: wrap;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;


    ul {
        list-style-type: none;
        width: 100%;
        margin: 0;
        padding: 0;

        li {
            width: 100%;
            height: 4vh;
            padding-left: 10%;
            display: flex;
            align-items: center;

            &:hover {
                background: var(--colorHoverList);
            }
        }
    }

    // Вложенные стили внутри .sidebar_block
    .activeItem {
        background: var(--colorActiveItemList);

        &:hover {
            background: var(--colorActiveItemList) !important;
        }
    }
}

.sidebar_block__list {
    grid-area: 1 / 1 / 2 / 2; /* Размещение блока .sidebar_block__list в первой строке */
  }
  
  .sidebar_block__news {
    grid-area: 2 / 1 / 3 / 2; /* Размещение блока .sidebar_block__news во второй строке */
  }