li {
    a {
        text-transform: uppercase;
        color: var(--colorWhite);
        font-weight: 600;
        font-size: 14px;
    }
}

nav {
    -webkit-box-shadow: -4px 6px 8px 0px rgba(23, 39, 51, 0.2);
    -moz-box-shadow: -4px 6px 8px 0px rgba(21, 37, 49, 0.2);
    box-shadow: -4px 6px 8px 0px rgba(27, 48, 65, 0.2);
    z-index: var(--zIndexNavbar);
    background: rgb(0,142,192);
background: linear-gradient(56deg, rgba(0,142,192,1) 0%, rgba(49,163,155,1) 71%);


}

.icon_block {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: lightblue;
}
.router-link-active:not(.lk), .router-link-exact-active:not(.lk){
    border-bottom: white 2px solid ;
    &:hover{
        border-bottom: lightblue 2px solid ;
    }
}
.nav-link{
    font-size: 14px;
    // font-weight: 500;
    &:hover{
        color: lightgrey;
    }
}