// li {
//     a {
//         text-transform: uppercase;
//         color: var(--colorWhite);
//         font-weight: 600;
//         font-size: 14px;
//     }
// }

// nav {
//     -webkit-box-shadow: -4px 6px 8px 0px rgba(23, 39, 51, 0.2);
//     -moz-box-shadow: -4px 6px 8px 0px rgba(21, 37, 49, 0.2);
//     box-shadow: -4px 6px 8px 0px rgba(27, 48, 65, 0.2);
//     z-index: var(--zIndexNavbar);
//     background: rgb(0,142,192);
// background: linear-gradient(56deg, rgba(0,142,192,1) 0%, rgba(49,163,155,1) 71%);

// }

// .icon_block {
//     width: 45px;
//     height: 45px;
//     border-radius: 50%;
//     background: lightblue;
// }
// .router-link-active:not(.lk), .router-link-exact-active:not(.lk){
//     border-bottom: white 2px solid ;
//     &:hover{
//         border-bottom: lightblue 2px solid ;
//     }
// }
// .nav-link{
//     font-size: 14px;
//     // font-weight: 500;
//     &:hover{
//         color: lightgrey;
//     }
// }
* {
  padding: 0;
  margin: 0;
}

.navbar {
  background: rgb(76, 192, 104);
  background-image: url(../assets/logo_company.png),
    linear-gradient(66deg, rgba(76, 192, 104, 1) 0%, rgba(0, 95, 152, 1) 50%);
  background-position: right center, left top; /* Устанавливаем позиции для каждого изображения */
  background-repeat: no-repeat, no-repeat; /* Запрещаем повторение изображений */
  height: 22vh;
  padding: 0;
  
  .container_block {
    margin-left: 5vw;
    display: grid;
    // width: 50% !important;
    // padding-top: 1vh;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    gap: 1vh;
    height: 100%;

    .row_1,
    .row_2,
    .row_3 {
      margin-left: auto;
    }

    .blue_text {
      color: #9FD1D4;
      font-size: 1rem;
      font-family: "Golos Text", sans-serif;
    }
    .blue_text i {
      font-size: 2rem; /* Установите желаемый размер */
      vertical-align: middle; /* Центрируем по вертикали относительно текста */
      width: 100%;
      height: 100%;
    }
    .row_1 {
      display: flex;
      align-items: flex-end;
    }

    .row_2 {
      display: grid;
      grid-template-columns: 1.4fr 1.8fr 0.8fr;
      column-gap: 2vw;
      align-items: center;
      width: 100%;

      /* Стили для блока логотипа */
      .logo_block {
        display: flex;
        align-items: center;
        gap: 2vw;
        // background: red;

        /* Стили для SVG-логотипов */
        .dynamic-svg-farmtec,
        .dynamic-svg-intelbio {
          width: 10vw;
        }

        /* Стили для линии-разделителя */
        .dynamic-svg-line {
          width: 1%;
          height: 5vh;
        }
      }

      /* Стили для блока поиска */
      .search_block {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%; /* Ширина контейнера */
      }

      /* Стили для текстового поля */
      .search-input {
        padding: 10px 40px 10px 10%; /* Поля вокруг текстового поля */
        font-size: 16px;
        box-sizing: border-box; /* Учитываем границы внутри ширины */
        width: 100%;
        border: none;
        background: rgba(255, 255, 255, 0.2);
        text-decoration: none;
        border-radius: 8px;
        height: 4vh;
        color: white;
        &::-webkit-search-cancel-button {
          -webkit-appearance: none; /* Убираем стандартный стиль кнопки */
          appearance: none;
          content: "\2716"; /* Используем Unicode символ крестика */
          color: red; /* Цвет крестика */
          font-size: 14px; /* Размер крестика */
          line-height: 1; /* Задаем высоту строки */
          cursor: pointer; /* Изменяем курсор при наведении */
          opacity: 0.5; /* Прозрачность по умолчанию */
          transition: opacity 0.3s ease; /* Плавное изменение прозрачности */
        }

        &::-webkit-search-cancel-button:hover {
          opacity: 1; /* Увеличиваем прозрачность при наведении */
        }
      }

      /* Стили для иконки поиска */
      .search-icon {
        position: absolute;
        top: 50%;
        left: 12px; /* Отступ слева для иконки */
        transform: translateY(-50%);
        font-size: 20px;
        color: #888;
      }

      /* Стили при фокусе на текстовом поле */
      .search-input:focus {
        outline: none; /* Убираем стандартный фокусовый контур */
        border-color: #66afe9; /* Цвет рамки при фокусе */
      }

      /* Стили для плейсхолдера в поисковом поле */
      input[type="search"]::-webkit-input-placeholder {
        color: #ffffff;
        padding-left: 10%;
      }

      /* Стили для блока меню */
      .menu_block {
        display: flex;
        justify-content: space-between;
        // background: sienna;
        /* Стили для блока с датой и временем */
        .date_time {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        /* Стили для блока пользователя */
        .user_block {
          display: flex;
          gap: 1vw;
          align-items: center;

          /* Стили для кнопки меню */
          .hamburger {
            background: transparent;
            color: white;
            border: 1px solid white;
            border-radius: 6px;
            display: flex;
            align-items: center !important;
            justify-content: center !important;
            width: 1.5vw;
            height: 3vh;
            padding: 0 !important;
            font-size: 1rem;
          }

          /* Стили для изображения пользователя */
          .user_pic {
            height: 5vh;
            width: 5vh;
            border-radius: 50%;
          }
        }
      }
    }

    .row_3 {
      width: 100%;
      position: relative;
      height: 100%; /* Установим высоту блока .row_3 (например, 100% от родителя) */

      ul.tabs_block {
        display: flex;
        padding: 0;
        margin: 0;
        height: 100%;
        list-style: none;
      }

      li:first-child button.tab_button {
        border-top-left-radius: 30px; /* Скругление правого верхнего угла первой кнопки */
        background: #61a60e;
        transition: background 0.3s ease-in-out;

        &:hover {
          background: #528c0d;
        }
      }
      li:nth-child(2) button.tab_button {
        background: #007481;
        transition: background 0.3s ease-in-out;
        &:hover {
          background: #015b65;
        }
      }
      li:nth-child(3) button.tab_button {
        background: #1a93b4;
        transition: background 0.3s ease-in-out;

        &:hover {
          background: #177d99;
        }
      }
      li:nth-child(4) button.tab_button {
        background: #0069a7;
        transition: background 0.3s ease-in-out;

        &:hover {
          background: #01578a;
        }
      }
      li:last-child button.tab_button {
        border-top-right-radius: 30px; /* Скругление правого верхнего угла первой кнопки */
        background: #a4b200;
        transition: background 0.3s ease-in-out;

        &:hover {
          background: #95a103;
        }
      }
      /* Стили для кнопок */
      button.tab_button {
        width: calc(90vw / 5);
        height: 100%;
        border: none;
        color: #ffffff;
        font-size: 1rem;
        display: flex;
        justify-content: center; /* Центрируем текст по горизонтали */
        align-items: center; /* Центрируем текст по вертикали */
        cursor: pointer;
        white-space: wrap;
      }
    }
  }
}
