.close-icon{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: red;
    font-size: 12px;
    padding: 2px;
}

.block_info{
    position: relative;
}
.input-box {
    /* родительский блок относительно которого будем формировать положение
    тега label */
    position: relative;
  }
  
  input, select {
    background: #fff;
    padding: 2%;
    /* закруглим края у поля ввода */
    border-radius: 6px;
    border: 1.2px solid var(--ColorDisabled);
    width: 100%;
    min-width: 5vw;
    min-height: 4vh;
    transition: border .2s ease;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    &:focus{
        border: 1.2px solid var(--colorBlue);
        outline: none;
        text-decoration: none;
    
    }
  }
  
  label {
    position: absolute;
    /* смещение относительно родительского элемента 10px вверх от верхнего края и   10px влево */
    top: -10px;
    left: 10px;
    background: #fff;
    color: rgb(155, 155, 155);
    font-size: 12px;
    font-weight: 400;
    padding: 0 5px;

  }

.time{
    display: flex;
    margin-top: 8%;
    justify-content: space-between;
    gap: 15px;
    .start_date, .end_date{
        display: flex;
        gap: 5px;
        justify-content: space-between;
        align-items: baseline;
    }
}
.textarea{
    border: 1.2px solid var(--ColorDisabled);
    width: 100%;
    border-radius: 6px;
    margin-top: 4%;
    resize: none;
    transition: border .2s ease;
    padding: 3%;
    outline: none;
    text-decoration: none;
    cursor: pointer;

    &:focus{
        border: 1.2px solid var(--colorBlue);
        outline: none;
        text-decoration: none;
    
    }
}
option{
    cursor: pointer;
}

::v-deep .modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    margin: 0 auto;
  }
  ::v-deep .modal-content {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    padding: 1rem;
    border: 1px solid #e2e8f0;
    border-radius: 0.25rem;
    background: #fff;
  }
  .modal__title {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 4%;
  }
  .modal__close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background: none;
    border: none;
    border-radius: 50%;
  }

.fc-event-dragging{
    cursor: grab !important;
}