.body_start_page {
  height: auto;
  min-height: 50vh;
  width: 90vw;
  margin-left: 5vw;
  margin-top: 6vh;
}
.article_title {
  color: var(--newGreyColor);
  font-weight: normal;
  font-size: 2.5vh;
  padding-left: 4%;
}
.grey_container {
  background: #f9f9f9;
  width: 100%;
  border-radius: 40px;
  min-height: 60vh;
  height: auto;
  margin-top: 4vh;
  display: flex;
  flex-direction: column;

  overflow: hidden; /* Обрезание контента, выходящего за пределы блока */
  position: relative; /* Позиционирование относительно родительского контейнера */
  padding: 2%;
}
.watch_all_news {
  color: #767676;
  margin-top: 4%;
  position: absolute;
  bottom: 4%;
  left: 50%;
  outline: none;
  text-decoration: none;
  transition: color 0.3s ease-in;
  &:hover {
    color: #262626;
  }
}

.grey_container svg {
  position: absolute; /* Позиционирование абсолютно внутри блока */
  bottom: 0; /* Выравнивание к нижней границе блока */
  left: 0; /* Выравнивание к левой границе блока */
  height: 65%; /* Заполнение высоты блока */
  width: auto; /* Автоматическое определение ширины */
  pointer-events: none; /* Исключение svg из событий мыши */
}

.news_elements {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: space-around;

  .news_item {
    border-radius: 40px;
    position: relative;
    background: white;
    width: 28%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Распределение контента по вертикали */
    height: 45vh; /* Занимает всю доступную высоту */
 
    .img_block {
      width: 85%;
      margin: 0 auto;
      height: 25vh;
      overflow: hidden; /* Обрезаем лишнее содержимое */
      margin-top: 4%;
      background: rgb(207, 170, 170);
      border-radius: 40px;
      display: flex; /* Используем flexbox для центрирования изображения */
      justify-content: center;
      align-items: center;
    }
    .img_block img {
      max-width: 100%; /* Максимальная ширина изображения 100% от родительского контейнера */
      height: 100%; /* Максимальная высота изображения 100% от родительского контейнера */
      object-fit: cover; /* Сохраняем пропорции изображения, вписывая его полностью */
    }

    .description {
      width: 85%;
      margin: 0 auto;
      .description_text {
        color: var(--newGreyColor);
      }
    }
    .footer_item {
      display: flex;
      justify-content: space-between;
      align-items: flex-start; /* Выравнивание по верхнему краю блока */
      width: 90%;
      margin: 0 auto;
      padding: 12px; /* Добавление отступов */
    }

    .footer_item p {
      margin-right: 2vw; /* Отступ между первым и вторым элементом */
    }

    .footer_item > *:last-child {
      margin-left: auto; /* Прижатие последнего элемента к правой стороне */
    }
  }
}

.description {
  width: calc(100% - 12%);
  margin: 0 auto;
  .description_text {
    color: var(--newGreyColor);
  }
}

.green_text {
  color: #14949c;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Golos Text", sans-serif;
}
