:root {
    --bgColorNavbar: #0069A7;
    --bgColorHoverBlueButton: #005E96;
    --bgColorDisabled: #E0E0E0;
    --bgColorCollapseElement: #f1f1f1;

    --colorWhite: #ffffff;
    --colorBorder: #E0E0E0;
    --colorHoverList: #fafafa;
    --colorActiveItemList: #EBF3F8;
    --ColorDisabled: #A6A6A6;
    --colorBlack: #0c0c0c;
    --colorBlue: #005E96;
    --zIndexNavbar: 1;
    --zIndexModal: 2;
    --zIndexNotif: 3;

    /* for loader */
    --b: #262626;
	--w: #dcdcd2;
	--s: 2s; /* change speed */
}
a, li, button{
    cursor: pointer;
}
* {
    margin: 0;
    padding: 0;
    font-family: Montserrat, Roboto, Helvetica, Arial, sans-serif;;
}
body{
    max-height: 100vh;
}
img {
    width: 100%;
    height: auto;
}
label{
    color: rgb(46, 46, 46);
}
.header_element{
    font-weight: bold;
    font-size: 2.2vh;
}
.vs__dropdown-toggle{
    border: black ;
}