.air_block {
  margin: 1% auto;
}
.div_full {
  background: #f0f6fa;
  padding-top: 2%;
}
.logo {
  display: flex;
  justify-content: center;
  height: 8vh;
  width: 100%;
  position: relative;
  align-items: center;
  margin: 4% auto;
  box-sizing: border-box;
}
p {
  text-indent: 20px;
}
.about_company {
  display: flex;
  justify-content: space-between;
  gap: 4vw;
  .ph,
  .intelbio {
    width: 100vw;
  }
}
.container {
  width: 100vw;
  margin: 0;
  position: relative;
}

html,
body {
  height: 100%;
}
body {
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background: #f0f6fa;
}
img {
  max-width: 100%;
}
h1,
.h1 {
  font-size: 36px;
  line-height: 130%;
  color: #004369;
  margin-bottom: 20px;
}
.wrap-content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  //   background: red;
  position: relative;
  max-width: 100% !important;
}
.btn {
  background: #bebd00;
  color: #fff;
  font-size: 14px;
  line-height: 140%;
  box-shadow: 0px 12px 30px rgba(0, 20, 59, 0.12);
  border: none;
  border-radius: 2px;
}
* {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
a {
  transition: 0.3s;
}
a:hover,
a:focus {
  opacity: 0.8;
  color: #fff;
  text-decoration: none;
}
.content {
  flex: 1;
}
.btn.buy {
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 14px 20px;
  margin-top: 5px;
  display: inline-block;
  margin-bottom: 20px;
}

/*Определение рабочей области*/
.container {
  padding: 0 15px;
  max-width: 1360px;
  margin: 0 auto;
  position: relative;
}

// /*-------------------------------Страница о нас---------------------------------*/
.year-wrapper {
  display: flex;
  justify-content: end;
}
.year-wrapper > div {
  flex-basis: 46%;
  padding-left: 25px;
}
.year-wrapper span {
  font-weight: 800;
  font-size: 90px;
  line-height: 130%;
  color: #009ee3;
}
.year-wrapper .seven-year span {
  color: rgba(0, 158, 227, 0.3);
  opacity: 0.8;
}
.year-wrapper .nine-year span {
  position: relative;
  color: rgba(0, 158, 227, 0.7);
  opacity: 0.8;
}
.today {
  width: 100%;
}
.year-wrapper .today span {
  position: relative;
  top: -30px;
}
.year-wrapper .older {
  position: relative;
}
.year-wrapper .nine-year span:before {
  content: "";
  position: absolute;
  display: inline-block;
  background: url(../assets/before-nine.png);
  height: 242px;
  width: 54px;
  background-repeat: no-repeat;
  bottom: 45%;
  right: 100%;
  padding-right: 20px;
}
.year-wrapper .nine-year span:after {
  content: "";
  position: absolute;
  display: inline-block;
  background: url(../assets/after-nine.png);
  height: 232px;
  width: 397px;
  background-repeat: no-repeat;
  bottom: 45%;
  left: 100%;
  margin-left: 10px;
}
.year-wrapper p {
  font-size: 16px;
  line-height: 160%;
  color: #004369;
}
.our-mission {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 50px;
}
.our-mission > div {
  flex-basis: 50%;
  padding: 90px;
}
.our-mission .us-mission {
  background: #009ee3;
  color: #fff;
  position: relative;
}
.our-mission .us-mission::before {
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  right: 100%;
  background: #009ee3;
  top: 0;
}
.our-mission .us-mission::after {
  content: "";
  background: linear-gradient(45deg, transparent 50%, #009ee3 50%);
  width: 40px;
  height: 40px;
  right: -20px;
  position: absolute;
  top: 45%;
  transform: rotate(45deg);
  z-index: 10;
}
.our-mission .us-mission p {
  font-weight: normal;
  font-size: 32px;
  line-height: 140%;
}
.our-mission .us-mission blockquote {
  font-weight: 200;
  font-style: italic;
  font-size: 20px;
  line-height: 160%;
  padding-left: 30px;
  border-left: 4px solid;
  margin-top: 15px;
}
.our-mission .we-want {
  background: #fff;
  box-shadow: 300px 0 #fff;
}
.we-want::after {
  /*content: '';*/
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  background: #fff;
  top: 0;
  left: 100%;
}
.our-mission .we-want p {
  font-size: 20px;
  line-height: 160%;
  color: #004369;
  margin-bottom: 25px;
}
.our-mission .we-want li {
  font-size: 18px;
  line-height: 160%;
  color: #004369;
  position: relative;
  padding-left: 25px;
  font-weight: 200;
  margin-bottom: 10px;
}
.our-mission .we-want li:before {
  content: "";
  width: 8px;
  height: 8px;
  display: inline-block;
  position: absolute;
  background: #009ee3;
  border-radius: 50%;
  left: 0;
  top: 12px;
}
.we-strive {
  background: url(../assets/bcg-we-strive.png);
  position: relative;
  text-align: center;
  box-shadow: 300px 0 #cfcbca;
  padding: 140px 0 85px;
}
.we-strive::before {
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  background: #cecac7;
  display: inline-block;
  position: absolute;
  right: 100%;
}
.we-strive p {
  font-size: 36px;
  font-weight: bold;
  line-height: 150%;
  text-align: center;
  color: #004369;
  width: 60%;
  margin: 0 auto 45px;
}
.we-strive p span {
  background: #009ee3;
  color: #fff;
  padding: 0 8px;
}
.we-strive > span {
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  font-weight: 200;
  color: #004369;
  width: 44%;
  display: inline-block;
}
.our-expertise-wrapper,
.our-expertiseleft {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.our-expertise-wrapper .our-expertise-title {
  flex-basis: 100%;
  font-size: 24px;
  line-height: 140%;
  color: #004369;
  flex-basis: 100%;
  margin: 55px 0 45px;
}
.our-expertise-wrapper > div {
  flex-basis: 49%;
}
.our-expertise-wrapper .our-expertiseleft > div {
  padding: 35px 25px;
  flex-basis: 40%;
}
.our-expertise-wrapper .our-expertiseleft blockquote {
  flex-basis: 100%;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  color: #004369;
  padding-left: 40px;
  border-left: 4px solid #009ee3;
  max-width: 70;
  margin-bottom: 55px;
}
.our-expertise-wrapper .our-expertiseleft > div:first-of-type {
  background: #009ee3;
  border: 1px solid #009ee3;
  font-size: 16px;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.8);
  padding-top: 35px;
}
.our-expertise-wrapper .our-expertiseleft > div:first-of-type b {
  color: #fff;
}
.our-expertise-wrapper .our-expertiseleft > div:last-of-type {
  background: #f0f6fa;
  border: 4px solid #ffffff;
  font-size: 16px;
  line-height: 160%;
  color: #004369;
}
.our-expertise-wrapper .our-expertise-right {
  font-size: 16px;
  line-height: 160%;
}
.our-expertise-wrapper .our-expertise-right > div:first-of-type {
  color: rgba(255, 255, 255, 0.8);
  background: #bebd00;
  padding: 32px;
  font-weight: 200;
}
.our-expertise-wrapper .our-expertise-right > div:first-of-type b {
  color: #fff;
}
.our-expertise-wrapper .our-expertise-right > div:first-of-type li {
  margin-top: 10px;
}
.our-expertise-wrapper .our-expertise-right > div:last-of-type {
  margin-top: 20px;
  // background: url(/image/img/banner-block-img.png);
  background: white;
  padding: 32px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.our-expertise-wrapper .our-expertise-right > div:last-of-type p b {
  color: #004369;
}
.our-expertise-wrapper .our-expertise-right > div:last-of-type li {
  font-size: 16px;
  line-height: 160%;
  color: rgba(0, 67, 105, 0.8);
  margin-top: 10px;
}
.our-principle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 60px;
}
.our-principle > p {
  font-size: 32px;
  line-height: 140%;
  color: #004369;
  font-weight: bold;
  text-align: center;
  margin: 80px 0 55px;
  flex-basis: 100%;
}
.our-principle > div {
  flex-basis: 19%;
  position: relative;
  padding-left: 5px;
  font-size: 14px;
  line-height: 160%;
  color: #004369;
  font-weight: 200;
}
.our-principle > div b {
  font-weight: bold;
}
.our-principle > div img {
  margin-bottom: 40px;
  width: 35%;
}
.our-principle > div img,
.our-principle > div p {
  padding: 0 15px 0 25px;
}
.our-principle > div:before {
  content: "";
  width: 4px;
  height: 100%;
  display: inline-block;
  position: absolute;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(0, 158, 227, 0.2) 100%
  );
}
.our-partner {
  background: #fff;
  padding-top: 50px;
  position: relative;
  box-shadow: 300px 0 #fff;
  padding-bottom: 80px;
}
.our-partner:before {
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  background: #fff;
  top: 0;
  right: 100%;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.our-partner .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  // gap: 2%;
}
.our-partner .row:first-of-type div {
  flex-basis: 30%;
  gap: 1%;
  // flex-grow: 1;
}
.our-partner .row:first-of-type div p {
  font-size: 20px;
  line-height: 140%;
  padding: 32px;
  padding-bottom: 0;
  font-weight: 800;
}
.our-partner .row:first-of-type div span {
  font-size: 16px;
  line-height: 160%;
  display: inline-block;
  padding: 32px;
  padding-top: 24px;
  max-width: 80%;
}
.our-partner .row:first-of-type div:nth-child(1) {
  background: #009ee3;
  border: 1px solid #009ee3;
  color: #fff;
}
.our-partner .row:first-of-type div:nth-child(2) {
  background: #bebd00;
  color: #fff;
}
.our-partner .row:first-of-type div:nth-child(3) {
  background: #f0f6fa;
  border: 1px solid #f0f6fa;
  color: #004369;
}
.our-partner .our-partner-title {
  font-size: 24px;
  line-height: 140%;
  color: #004369;
  margin-bottom: 25px;
}
.our-partner .row:last-of-type > div {
  flex-basis: 42%;
  max-width: 42%;
  padding: 32px;
}
ol,
ul {
  list-style: none;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
  unicode-bidi: isolate;
}
.our-partner .row:last-of-type > div:first-child {
  border: 4px solid #cbca33;
  margin-left: 1%;
  // padding-left: 10px; /* Добавляем отступ, чтобы border не сливался с текстом */
}
.our-partner .row:last-of-type > div:last-child {
  border: 4px solid rgba(0, 158, 227, 0.8);
}
.our-partner .part_title {
  font-size: 20px;
  line-height: 140%;
  color: #004369;
  font-weight: bold;
  margin-bottom: 15px;
  max-width: 50%;
}
.our-partner .row:last-of-type span {
  font-size: 16px;
  line-height: 160%;
  color: #7d8090;
  margin-bottom: 15px;
  display: block;
}
.our-partner .row:last-of-type li {
  font-size: 16px;
  line-height: 160%;
  color: #004369;
  margin-bottom: 15px;
}

.price-policy {
  padding: 1% 0;
  position: relative;
  text-align: center;
  width: 100%;
  //   background: #f0f6fa;
}
.price-policy p {
  position: relative;
  font-size: 24px;
  line-height: 140%;
  color: #004369;
  text-align: center;
  margin-bottom: 25px;
  padding-top: 20px;
  padding-top: 4%;
}
.price-policy:after {
  content: "";
  width: 150px;
  height: 150px;
  background-image: url(../assets/earth-globe.svg);
  display: inline-block;
  position: absolute;
  bottom: 80%;
  left: 50%;
  transform: translate(-50%);
  background-color: #f0f6fa;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
.price-policy span {
  font-size: 20px;
  line-height: 160%;
  text-align: center;
  color: #004369;
  display: block;
  max-width: 70%;
  margin: auto;
  font-style: italic;
}
.price-policy a {
  padding: 16px 20px;
  margin-top: 20px;
  display: inline-block;
}

h2 {
  font-size: 30px;
  margin-bottom: 20px;
  color: #004369;
}

h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #004369;
}

/*-------------От рабочей области---------*/
@media only screen and (max-width: 1360px) {
  .container {
    max-width: 100vw;
    // box-sizing: border-box;
  }
  .we-strive {
    padding: 130px 0 85px;
  }
  .year-wrapper .nine-year span::after {
    background-position: center;
    width: 360px;
    background-size: contain;
  }
  ul.slimmenu.slim-flex {
    justify-content: space-between;
  }
  #header ul.slimmenu li a {
    padding: 12px 35px;
  }
  .our-partner .row:last-of-type > div {
    flex-basis: 43%;
    max-width: 43%;
  }
}

@media only screen and (max-width: 1280px) {
  .year-wrapper p {
    max-width: 90%;
  }
  .year-wrapper .nine-year span::after {
    width: 320px;
  }
  .blog-wrapper .image {
    min-height: 160px;
  }
}

@media only screen and (max-width: 1199px) {
  .year-wrapper .nine-year span::before,
  .year-wrapper .nine-year span::after {
    display: none;
  }
  .we-strive {
    background-position: center;
    background-size: cover;
  }
  .our-expertise-wrapper .our-expertiseleft > div {
    flex-basis: 38%;
  }
  .oct-news-content .oct-news-content-box.clients #description_block table * {
    font-size: 14px;
    padding: 10px 5px;
  }

  .our-partner .row:last-of-type > div {
    flex-basis: 42%;
    max-width: 42%;
  }
  .our-mission > div {
    padding: 50px;
  }
  .our-expertise-wrapper .our-expertiseleft blockquote {
    margin-bottom: 25px;
  }
  .we-strive p {
    width: 72%;
  }
  .product .main-info {
    justify-content: space-between;
  }
  .product .main-info .left-wrapper .advantage {
    max-width: 92%;
    padding: 30px 0 20px 45px;
  }
  .product .main-info .left-wrapper .use-instruction {
    max-width: 92%;
  }
  .main-banner .swiper-slide .banner-block {
    flex-basis: 50%;
    padding: 15px 125px 50px;
  }
  .main-banner .swiper-slide .banner-img {
    flex-basis: 50%;
    background-size: contain;
  }
  .main-banner .swiper-slide .banner-block .banner-title {
    font-size: 40px;
  }
}

@media only screen and (max-width: 991px) {
  .about-page {
    margin: 0 -15px;
  }
  .blog-wrapper .image {
    min-height: 173px;
  }

  .year-wrapper p {
    font-size: 14px;
  }
  .our-mission .us-mission p {
    font-size: 26px;
  }
  .our-mission .us-mission blockquote {
    font-size: 18px;
  }
  .our-mission .we-want p {
    font-size: 18px;
  }
  .our-mission .we-want li {
    font-size: 16px;
  }
  .our-expertise-wrapper .our-expertise-title {
    margin: 35px 0 25px;
  }
  .our-expertise-wrapper .our-expertiseleft {
    flex-basis: 100%;
  }
  .our-expertise-wrapper .our-expertiseleft > div {
    flex-basis: 42%;
  }
  .our-expertise-wrapper .our-expertise-right {
    font-size: 14px;
    display: flex;
    flex-basis: 100%;
  }
  .our-expertise-wrapper .our-expertise-right > div:first-of-type {
    font-weight: 400;
    margin-top: 20px;
    margin-right: 20px;
  }
  .our-principle > p {
    margin: 30px;
  }
  .our-expertise-wrapper .our-expertise-right > div:last-of-type li {
    font-size: 14px;
  }
  .our-principle {
    justify-content: center;
  }
  .our-principle > div {
    flex-basis: 30%;
  }
  .our-principle > div img,
  .our-principle > div p {
    padding: 0 8px;
  }
  .our-partner .row:first-of-type div span {
    font-size: 14px;
    line-height: 140%;
  }
  .our-partner .row:last-of-type li {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  .our-partner .row {
    flex-wrap: wrap;
  }
  .our-partner .row:last-of-type > div {
    flex-basis: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 680px) {
  // ВСЯ ВЕРСТКА РАЗДЕЛА!
  .container {
    width: 90%;
    margin: 0 auto;
    position: relative;
    .year-wrapper {
      display: flex;
      flex-direction: column;
      .seven-year span,
      .nine-year span {
        font-size: 4em;
      }
      .seven-year p,
      .nine-year p {
        font-size: 1em;
        text-indent: 0;
      }
      .today {
        width: 80%;
        display: flex;
        flex-direction: column;

        iframe {
          position: relative;
          left: 50%;
          transform: translate(-50%, 0);
        }
        span {
          padding-top: 15%;
          font-size: 4em;
        }
        p {
          text-indent: 0;
          font-size: 1em;
        }
      }
    }

    .our-mission {
      display: none;
      //   display: flex;
      //   flex-direction: column;
      //   width: 80%;
      //   margin: 0 auto;
      .us-mission {
        p {
        }
      }
      .we-want {
        p {
        }
      }
    }
    .we-strive {
      display: none;
    }
    .our-expertise-wrapper {
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      .our-expertise-title {
        padding-left: 0;
        font-size: 2em;
      }
      .our-expertiseleft {
        width: 90%;
        blockquote {
          font-size: 1.2em;
        }
        .blue_block {
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-grow: 1;
        }
        .white_block {
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-grow: 1;
        }
      }
      .our-expertise-right {
        display: flex;
        flex-direction: column;
        p {
          font-size: 1.2em;
          text-indent: 0;
        }
        ul {
          padding: 0;
          li {
            font-size: 1.2em;
            line-height: 140%;
          }
        }
      }
    }

    .our-principle {
      display: flex;
      flex-direction: column;
      div {
        display: flex;
      }
      img {
        width: 20%;
      }
      p {
        text-indent: 0;
      }
    }

    .our-partner {
      .our-partner-title {
        text-align: left;
        font-size: 1.5em;
        margin-left: 0 !important;
        position: relative;
        left: 0;
      }
      .row {
        display: flex;
        flex-direction: column;
        width: 92%;
        row-gap: 2vh;
        position: relative;
      }
      .row div {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding-left: 0;
        p {
          font-size: 1.2em;
          width: auto;
          text-align: left;
        }
      }
      .f1,
      .f2 {
        width: 92%;
        // background: red;
        p {
          text-align: center;
          width: auto;
          text-indent: 0;
          padding-left: 10%;
        }
        span {
          padding-left: 10%;
        }
      }
    }
  }
  .price-policy {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    p {
      font-size: 1.2em;
      padding-top: 20%;
    }
    span {
      font-size: 1em;
    }
    &::after {
      content: "";
      width: 150px;
      height: 150px;
      background-image: url(../assets/earth-globe.svg);
      display: inline-block;
      position: absolute;
      bottom: 85%;
      left: 50%;
      transform: translate(-50%);
      background-color: #f0f6fa;
      border-radius: 50%;
      background-position: center;
      background-repeat: no-repeat;
      margin-bottom: 5%;
    }
    .btn {
      width: 30%;
      margin: 0 auto;
    }
  }
}
