.air_block{
    margin: 1% auto;
}
.logo{
    display: flex;
    justify-content: space-between;
    height: 8vh;
    width: 100%;
    position: relative;
    align-items: center;
    margin: 4% 0 2%;

}
p{
    text-indent: 20px;
}