.air_block {
  margin: 1% auto;
}
.logo {
  display: flex;
  justify-content: center;
  height: 8vh;
  width: 100%;
  position: relative;
  align-items: center;
  margin: 4% auto;
  box-sizing: border-box;

}
p {
  text-indent: 20px;
}
.about_company {
  display: flex;
    justify-content: space-between;
    gap: 4vw;
    .ph, .intelbio{
        width: 100vw;
      }
}
.container{
  width: 100vw;
  margin: 0;
}

html,
body {
    height: 100%;
}
body {
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background: #F0F6FA;
}
img{
    max-width: 100%;
}
h1, .h1{
    font-size: 36px;
    line-height: 130%;
    color: #004369;
    margin-bottom: 20px;
}
.wrap-content {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.btn{
    background: #BEBD00;
    color: #fff;
    font-size: 14px;
    line-height: 140%;
    box-shadow: 0px 12px 30px rgba(0, 20, 59, 0.12);
    border: none;
    border-radius: 2px;
}
*{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
a{
    transition: .3s;
}
a:hover, a:focus{
    opacity: .8;
    color: #fff;
    text-decoration:  none;
}
.content {
    flex: 1;
}
.btn.buy{
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 14px 20px;
    margin-top: 5px;
    display: inline-block;
    margin-bottom: 20px;
}
.btn.to-order{
    padding: 14px 20px;
    margin-left: 15px;
    display: inline-block;
    margin-bottom: 20px;
    background: #009EE3;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}
/*Определение рабочей области*/
.container {
    padding: 0 15px;
    max-width: 1360px;
    margin: 0 auto;
    position: relative;
}


/**************Баннер на главной***********************/

.main-banner .swiper-slide{
    min-height: 500px;
    background-size: cover;
}
.main-banner .swiper-slide .container{
    display: flex;
    justify-content: space-between;
}
.main-banner .swiper-slide .banner-block{
    min-height: 255px;
    background: linear-gradient(135deg, #fff 95%, transparent 5%);
    align-self: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0 125px 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    flex-basis: 30%;
    position: relative;
}
.main-banner .swiper-slide .banner-img{
    min-height: 550px;
    display: flex;
    align-items: center;
    background-image: url(../assets/banner-bcg.png);
    background-position: center;
    flex-basis: 45%;
    background-repeat: no-repeat;
}
.main-banner .swiper-slide .banner-block::after {
    content: '';
    position: absolute;
    height: 50px;
    width: 50px;
    background: linear-gradient(135deg, #F0F6FA 53%, transparent 5%);
    right: 0;
    bottom: 0;
}
.main-banner .swiper-slide img {
    max-height: 450px;
    margin: auto;
}
.main-banner .swiper-slide .banner-block .banner-title{
    font-weight: bold;
    font-size: 50px;
    line-height: 120%;
    color: #004369;
}
.main-banner .swiper-slide .banner-block .banner-text{
    font-size: 18px;
    line-height: 140%;
    color: #00143B;
}
.main-banner .swiper-slide .banner-block .banner-text small{
    display: block;
    font-size: 80%;
}
.main-banner .swiper-slide .banner-block .banner-link{
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 14px 20px;
}
.main-banner .swiper-pagination{
    position: absolute;
    left: 20%;
    align-self: start;
    flex-basis: 20%;
    max-width: 15%;
    transform: unset;
    bottom: 25%;
}
.main-banner .swiper-pagination-bullet-active{
    background: #BEBD00;
}
/****************************** Куки **************************************/
.cookie_notice{
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 450px;
    height: 40px;
    z-index: 100;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 1px 20px #0000001a;
    border-radius: 16px;
    display: none;
    justify-content: space-between;
    align-items: center;
}
.cookie_notice .notification__text{
    display: flex;
    flex-direction: column;
    color: #39393d;
    margin-right: 15px;
}
.cookie_notice .notification__text .about-cookie{
    font-size: 14px;
    line-height: 20px;
    color: #004369;
    background: transparent;
    border: none;
    text-align: left;
    padding: 0;
}
.cookie_notice > button{
    padding: 10px 15px;
}
#aboutCookieWrapper{
    z-index: 1000;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
    display: none;
}
#aboutCookieWrapper button{
    padding: 10px 15px;
}
#aboutCookieWrapper p{
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 20px;
}
#aboutCookieWrapper a{
    color: #004369;
}
#aboutCookieWrapper a:hover{
    opacity: .8;
    color: #004369;
}

#aboutCookieWrapper .modal-dialog {
    width: 600px;
    margin: 30px auto;
    justify-content: center;
    display: flex;
    align-content: center;
    flex-direction: column;
}
// /****************************** ^^^ Куки ^^^ ******************************/
// /*------------------------------Блог-----------------------------*/






// /*----------------------------о компании на главной------------------------------*/
.about-wrapper{
    position: relative;
    z-index: 10;
}
.about-wrapper:before{
    content: '';
    width: 50%;
    position: absolute;    
    display: inline-block;
    left: 0;
    height: 3px;
    background: linear-gradient(270deg, #009EE3 0%, rgba(0, 158, 227, 0) 50%);
    top: -50px;
}
.about-wrapper:after{
    content: '';
    width: 50%;
    position: absolute;     
    display: inline-block;
    right: 0;
    height: 3px;
    background: linear-gradient(90deg, #009EE3 0%, rgba(0, 158, 227, 0) 50%);
    top: -50px;   
}
.about-wrapper .container{
    display: flex;
}
.about-wrapper .title-about{
    flex-basis: 30%;
}
.about-wrapper .wrapper-about{
    flex-basis: 70%;
    overflow: hidden;
    position: relative;
    padding-bottom: 30px;
    transition: height .3s;
}
/*
.about-wrapper .wrapper-about p.read-more{
    opacity: 0;
    visibility: hidden;
}*/
.about-wrapper .wrapper-about a.read-more{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    background: #F0F6FA;
    box-shadow: 0px -6px 10px rgba(7, 27, 65, 0.08);
    padding: 20px;
    border-radius: 50%;
}
.about-wrapper .wrapper-about a i{
    font-size: 23px;
    color: #009EE3;
    line-height: 14px;
}
.about-wrapper .wrapper-about::before {
    background: linear-gradient(0deg, #f0f6fa 0%, transparent 100%);
    content: '';
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
}
.about-wrapper .wrapper-about.hide-before::before{
    opacity: 0;
    /*transition: .1s;*/
}
.about-wrapper .title-about p{
    font-weight: bold;
    font-size: 36px;
    line-height: 130%;
    color: #004369;
}
.wrapper-about p{
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    max-height: 105px;
    overflow: hidden;
    transition: .3s;
    padding-bottom: 30px;
}
.about-wrapper .wrapper-about.visible-more{
    max-height: 100%;
    transition: .3s;
}
.about-wrapper .read-more.visible-read-more{
    opacity: 1;
    visibility: visible;
}
.about-wrapper .show-more.visible-more-btn i:before{
    content: "\f106";
}

// /*-------------------------------Страница о нас---------------------------------*/
.year-wrapper{
    display: flex;
    justify-content: end;
}
.year-wrapper > div{
    flex-basis: 46%;
    padding-left: 25px;
}
.year-wrapper span{
    font-weight: 800;
    font-size: 90px;
    line-height: 130%;
    color: #009EE3;
}
.year-wrapper .seven-year span{
    color: rgba(0, 158, 227, 0.3);
    opacity: 0.8;
}
.year-wrapper .nine-year span{
    position: relative;
    color: rgba(0, 158, 227, 0.7);
    opacity: 0.8;
}
.year-wrapper .today span{
    position: relative;
    top: -30px;
}
.year-wrapper .older{
    position: relative;
}
.year-wrapper .nine-year span:before{
    content: '';
    position: absolute;
    display: inline-block;
    background: url(../assets/before-nine.png);
    height: 242px;
    width: 54px;
    background-repeat: no-repeat;
    bottom: 45%;
    right: 100%;
    padding-right: 20px;
}
.year-wrapper .nine-year span:after{
    content: '';
    position: absolute;
    display: inline-block;
    background: url(../assets/after-nine.png);
    height: 232px;
    width: 397px;
    background-repeat: no-repeat;
    bottom: 45%;
    left: 100%;
    margin-left: 10px;
}
.year-wrapper p{
    font-size: 16px;
    line-height: 160%;
    color: #004369;
}
.our-mission{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 50px;
}
.our-mission > div {
    flex-basis: 50%;
    padding: 90px;
}
.our-mission .us-mission{
    background: #009EE3;
    color: #fff;
    position: relative;
}
.our-mission .us-mission::before {
    content: '';
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    right: 100%;
    background: #009EE3;
    top: 0;
}
.our-mission .us-mission::after {
    content: '';
    background: linear-gradient(45deg, transparent 50%, #009ee3 50%);
    width: 40px;
    height: 40px;
    right: -20px;
    position: absolute;
    top: 45%;
    transform: rotate(45deg);
    z-index: 10;
}
.our-mission .us-mission p{
    font-weight: normal;
    font-size: 32px;
    line-height: 140%;
}
.our-mission .us-mission blockquote{
    font-weight: 200;
    font-style: italic;
    font-size: 20px;
    line-height: 160%;
    padding-left: 30px;
    border-left: 4px solid;
    margin-top: 15px;
}
.our-mission .we-want{
    background: #fff;
    box-shadow: 300px 0 #fff;
}
.we-want::after {
    /*content: '';*/
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    background: #fff;
    top: 0;
    left: 100%;
}
.our-mission .we-want p{
    font-size: 20px;
    line-height: 160%;
    color: #004369;
    margin-bottom: 25px;
}
.our-mission .we-want li{
    font-size: 18px;
    line-height: 160%;
    color: #004369;
    position: relative;
    padding-left: 25px;
    font-weight: 200;
    margin-bottom: 10px;
}
.our-mission .we-want li:before{
    content: '';
    width: 8px;
    height: 8px;
    display: inline-block;
    position: absolute;
    background: #009ee3;
    border-radius: 50%;
    left: 0;
    top: 12px;
}
.we-strive{
    background: url(../assets/bcg-we-strive.png);
    position: relative;
    text-align: center;
    box-shadow: 300px 0 #cfcbca;
    padding: 140px 0 85px;
}
.we-strive::before {
    width: 100%;
    height: 100%;
    content: '';
    top: 0;
    background: #cecac7;
    display: inline-block;
    position: absolute;
    right: 100%;
}
.we-strive p{
    font-size: 36px;
    font-weight: bold;
    line-height: 150%;
    text-align: center;
    color: #004369;
    width: 60%;
    margin: 0 auto 45px;
}
.we-strive p span{
    background: #009EE3;
    color: #fff;
    padding: 0 8px;
}
.we-strive > span{
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    font-weight: 200;
    color: #004369;
    width: 44%;
    display: inline-block;
}
.our-expertise-wrapper,
.our-expertiseleft{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.our-expertise-wrapper .our-expertise-title{
    flex-basis: 100%;
    font-size: 24px;
    line-height: 140%;
    color: #004369;
    flex-basis: 100%;
    margin: 55px 0 45px
}
.our-expertise-wrapper>div{
    flex-basis: 49%;
}
.our-expertise-wrapper .our-expertiseleft > div{
    padding: 35px 25px;
    flex-basis: 40%;
}
.our-expertise-wrapper .our-expertiseleft blockquote{
    flex-basis: 100%;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    color: #004369;
    padding-left: 40px;
    border-left: 4px solid #009EE3;
    max-width: 70;
    margin-bottom: 55px;
}
.our-expertise-wrapper .our-expertiseleft > div:first-of-type{
    background: #009EE3;
    border: 1px solid #009EE3;
    font-size: 16px;
    line-height: 160%;
    color: rgba(255, 255, 255, 0.8);
    padding-top: 35px;
}
.our-expertise-wrapper .our-expertiseleft > div:first-of-type  b{
    color: #fff;
}
.our-expertise-wrapper .our-expertiseleft > div:last-of-type{
    background: #F0F6FA;
    border: 4px solid #FFFFFF;
    font-size: 16px;
    line-height: 160%;
    color: #004369;
}
.our-expertise-wrapper .our-expertise-right{
    font-size: 16px;
    line-height: 160%;
}
.our-expertise-wrapper .our-expertise-right > div:first-of-type{
    color: rgba(255, 255, 255, 0.8);
    background: #BEBD00;
    padding: 32px;
    font-weight: 200;
}
.our-expertise-wrapper .our-expertise-right > div:first-of-type b{
    color: #fff;
}
.our-expertise-wrapper .our-expertise-right > div:first-of-type li{
    margin-top: 10px;
}
.our-expertise-wrapper .our-expertise-right > div:last-of-type{
    margin-top: 20px;
    // background: url(/image/img/banner-block-img.png);
    background: white;;
    padding: 32px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.our-expertise-wrapper .our-expertise-right > div:last-of-type p b{
    color: #004369;
}
.our-expertise-wrapper .our-expertise-right > div:last-of-type li{
    font-size: 16px;
    line-height: 160%;
    color: rgba(0, 67, 105, 0.8);
    margin-top: 10px;
}
.our-principle{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 60px;
}
.our-principle > p{
    font-size: 32px;
    line-height: 140%;
    color: #004369;
    font-weight: bold;
    text-align: center;
    margin: 80px 0 55px;
    flex-basis: 100%;
}
.our-principle > div {
    flex-basis: 19%;
    position: relative;
    padding-left: 5px;
    font-size: 14px;
    line-height: 160%;
    color: #004369;
    font-weight: 200;
}
.our-principle > div b{
    font-weight: bold;
}
.our-principle > div img{
    margin-bottom: 40px;
}
.our-principle > div img,
.our-principle > div p{
    padding: 0 15px 0 25px;
}
.our-principle > div:before {
    content: '';
    width: 4px;
    height: 100%;
    display: inline-block;
    position: absolute;
    left: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(0, 158, 227, 0.2) 100%);
}
.our-partner{
    background: #fff;
    padding-top: 50px;
    position: relative;
    box-shadow: 300px 0 #fff;
    padding-bottom: 80px;
}
.our-partner:before{
    content: '';
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    background: #fff;
    top: 0;
    right: 100%;
}
.our-partner .row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;


}
.our-partner .row:first-of-type div{
    flex-basis: 32%;
}
.our-partner .row:first-of-type div p{
    font-size: 20px;
    line-height: 140%;
    padding: 32px;
    padding-bottom: 0;
    font-weight: 800;
}
.our-partner .row:first-of-type div span{
    font-size: 16px;
    line-height: 160%;
    display: inline-block;
    padding: 32px;
    padding-top: 24px;
    max-width: 80%;
}
.our-partner .row:first-of-type div:nth-child(1){
    background: #009EE3;
    border: 1px solid #009EE3;
    color: #fff;
}
.our-partner .row:first-of-type div:nth-child(2){
    background: #BEBD00;
    color: #fff;
}
.our-partner .row:first-of-type div:nth-child(3){
    background: #F0F6FA;
    border: 1px solid #F0F6FA;
    color: #004369;
}
.our-partner .our-partner-title{
    font-size: 24px;
    line-height: 140%;
    color: #004369;
    margin-bottom: 25px;
}
.our-partner .row:last-of-type > div{
    flex-basis: 44%;
    max-width: 44%;    
    padding: 32px; 
}
.our-partner .row:last-of-type > div:first-child{
    border: 4px solid rgba(190, 189, 0, 0.8) !important;
    // margin: 2%;
}
.our-partner .row:last-of-type > div:last-child{
    border: 4px solid rgba(0, 158, 227, 0.8);
}
.our-partner .part_title{
    font-size: 20px;
    line-height: 140%;
    color: #004369;
    font-weight: bold;
    margin-bottom: 15px;
    max-width: 50%;
}
.our-partner .row:last-of-type span{
    font-size: 16px;
    line-height: 160%;
    color: #7D8090;
    margin-bottom: 15px;
    display: block;
}
.our-partner .row:last-of-type li{
    font-size: 16px;
    line-height: 160%;
    color: #004369;
    margin-bottom: 15px;
}
.price-policy{
    padding-top: 30px;
    position: relative;
    text-align: center;
}
.price-policy p{
    position: relative;
    font-size: 24px;
    line-height: 140%;
    color: #004369;
    text-align: center;
    margin-bottom: 25px;
    padding-top: 20px;
}
.price-policy:before{
    content: '';
    width: 80px;
    height: 80px;
    background-image: url(../assets/earth-globe.svg);
    display: inline-block;
    position: absolute;
    bottom: 80%;
    left: 50%;
    transform: translate(-50%);
    background-color: #f0f6fa;
    border-radius: 50%;
    padding: 30px;
    background-position: center;
    background-repeat: no-repeat;
}
.price-policy span{
    font-size: 20px;
    line-height: 160%;
    text-align: center;
    color: #004369;
    display: block;
    max-width: 70%;
    margin: auto;
    font-style: italic;
}
.price-policy a{
    padding: 16px 20px;
    margin-top: 20px;
    display: inline-block;
}




h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #004369;
}

h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #004369;
}