.alert{
    position: fixed;
    top: 2%;
    left: 2%;
    min-width: 25%;
    z-index: var(--zIndexNotif);
    animation: example .9s linear;
}
@keyframes example {
    from {
        margin-left: -30%;
     
    }
    to {
        margin: 0;
      }
    }
@media screen and (max-width: 950px) {
    .alert{
        min-width: 96%;
    }
}