@import '@/styles/commonMixins';
.grid_row{
  display: grid;
  grid-template-columns: .4fr 1fr;
}
.first_line {
  display: grid;
  column-gap: 2vw;
  row-gap: 3vh;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.date_start {
  grid-area: date_start;
}
.manager {
  grid-area: manager;
  width: 100%;
}
.department {
  grid-area: department;
}
.position {
  grid-area: position;
}
.region {
  grid-area: region;
  width: 100%;
}

// .date_start , .manager , .department, .position, .region{
//     display: flex;
//     align-items: end;
// }
